* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Avenir';
  src: url("/fonts/avenir_ff/AvenirLTStd-Black.otf") format("opentype"), url("/fonts/avenir_ff/AvenirLTStd-Book.otf") format("opentype"), url("/fonts/avenir_ff/AvenirLTStd-Roman.otf") format("opentype");
}

#body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  color: #4B5D68;
}

html {
  scroll-behavior: smooth;
  font-family: 'Avenir', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4B5D68;
}

.active {
  color: #212353;
  font-weight: bold;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 7%;
  height: 70%;
  min-width: 40px;
}

.logo .rect1 {
  background: #9C69E2;
  width: 30%;
  height: 50%;
  max-height: 15px;
  min-width: 15px;
  border-radius: 50%;
}

.logo .rect2 {
  border-radius: 10px;
  background: #ED63B8;
  width: 30%;
  height: 70%;
  min-height: 25px;
  min-width: 15px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 10rem;
  min-height: 3rem;
  border-radius: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20vh;
}

header .top {
  width: 60%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top .logo {
  margin-bottom: 1rem;
}

header .top .nav {
  width: 48%;
  position: relative;
  right: 2rem;
}

header .top .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top .button {
  position: relative;
  left: 5rem;
}
/*# sourceMappingURL=style.css.map */