* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Avenir';
  src: url("/fonts/avenir_ff/AvenirLTStd-Black.otf") format("opentype"), url("/fonts/avenir_ff/AvenirLTStd-Book.otf") format("opentype"), url("/fonts/avenir_ff/AvenirLTStd-Roman.otf") format("opentype");
}

#body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  color: #4B5D68;
}

html {
  scroll-behavior: smooth;
  font-family: 'Avenir', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #212353;
  font-family: Helvetica, sans-serif;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4B5D68;
}

.active {
  color: #212353;
  font-weight: bold;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 7%;
  height: 70%;
  min-width: 40px;
  max-width: 25px;
}

.logo .rect1 {
  background: #9C69E2;
  width: 30%;
  height: 50%;
  max-height: 15px;
  min-width: 15px;
  min-height: 15px;
  border-radius: 50%;
}

.logo .rect2 {
  border-radius: 10px;
  background: #ED63B8;
  width: 30%;
  height: 55%;
  min-width: 15px;
  min-height: 23px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 10rem;
  min-height: 3rem;
  border-radius: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-transition: all 1s;
  transition: all 1s;
  cursor: pointer;
}

.button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 4.5px 9.5px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 4.5px 9.5px;
}

.button .arrow {
  min-width: 1.2rem;
  min-height: 1.6rem;
}

.button .arrow .line {
  position: absolute;
  background: #9C69E2;
}

.button .arrow .line1 {
  width: 12%;
  padding: 1px;
  top: 50%;
}

.button .arrow .line2 {
  height: 16%;
  padding: 1px;
  top: 38%;
  right: 7%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.button .arrow .line3 {
  height: 16%;
  padding: 1px;
  top: 50%;
  right: 7%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 920px) {
  .button {
    font-size: smaller;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 20vh;
}

header .top {
  width: 60%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top .logo {
  margin-bottom: 1rem;
}

header .top .nav {
  width: 48%;
  position: relative;
  right: 8%;
}

header .top .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top .button {
  position: relative;
  left: 5rem;
}

@media screen and (max-width: 925px) {
  header .top .nav {
    right: 2%;
  }
}

@media screen and (max-width: 780px) {
  header .top .nav {
    font-size: smaller;
  }
}

.hero {
  min-height: 50vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
  height: 100%;
  min-height: 20rem;
}

.hero .container h1 {
  font-size: 4.5vw;
  width: 70%;
}

.hero .container p {
  width: 44%;
  margin-top: 1.5%;
}

.hero .container .button {
  background: #9C69E2;
  margin-top: 1.5%;
}

.hero .container .button h4 a {
  color: white;
}

.hero .image1 {
  position: absolute;
  right: 1rem;
  bottom: 9rem;
  width: 55%;
  height: 40%;
}

.hero .image1 img {
  width: 100%;
  height: auto;
}

#about {
  padding-top: 10%;
  min-height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .container {
  width: 68%;
  margin-left: 8%;
  min-height: 40vh;
  padding: 1.5% 0;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img h3" "img p";
  background: #FBE8F4;
  border-radius: 15px;
  font-size: 1.2vw;
}

#about .container h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: h3;
  padding: 0.5rem;
  width: 90%;
  font-size: 2vw;
  margin-top: 12%;
  margin-left: 5%;
}

#about .container p {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: p;
  padding: 0.5rem;
  width: 80%;
  margin-left: 5%;
}

#about .container .image2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img;
  width: 100%;
  height: auto;
}

#about .container .image2 img {
  width: 100%;
  height: auto;
}

#features, #features .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#features {
  padding-top: 3rem;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#features .top {
  min-height: 20vh;
  padding: 0.5rem;
  text-align: center;
}

#features .top h3 {
  font-size: 1.8vw;
}

#features .top p {
  width: 60%;
}

#features .grid {
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-gap: 1.5rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#features .grid .card {
  font-size: 1.4vw;
  position: relative;
  padding: 1rem 1rem 1rem 5rem;
  border-radius: 20px;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  min-height: 18rem;
}

#features .grid .card p {
  font-size: 1vw;
  width: 80%;
}

#features .grid .card .image {
  position: absolute;
  left: -25%;
  width: 50%;
  height: auto;
}

#features .grid .card .image img {
  width: 100%;
  height: auto;
}

#features .grid .card .button {
  position: relative;
}

#features .grid .card .button .arrow .line2, #features .grid .card .button .arrow .line3 {
  right: 11%;
}

#features .grid .card1 {
  background: #F0FAF8;
}

#features .grid .card2 {
  background: #F5F0FC;
}

#features .grid .card3 {
  background: #FCF0F8;
}

#features .grid .card4 {
  background: #EAF5FB;
}

#features .grid .card1, #features .grid .card3 {
  left: 28%;
}

#testimonials {
  padding-top: 2%;
  min-height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#testimonials .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 68%;
  margin-left: 8%;
  min-height: 55vh;
  padding: 2.5% 2.5%;
  background: #9C69E2;
  border-radius: 20px;
  position: relative;
}

#testimonials .container h3 {
  color: #FFF;
  font-size: 2.2vw;
  margin-left: 3%;
}

#testimonials .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#testimonials .container .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 45%;
  height: 25%;
  border-radius: 20px;
  padding: 2rem;
  background: white;
}

#testimonials .container .cards .card .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  overflow: hidden;
}

#testimonials .container .cards .card .image img {
  width: 100%;
  height: auto;
}

#testimonials .container .cards .card .text {
  font-size: 1.1vw;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-ecenly;
      -ms-flex-pack: space-ecenly;
          justify-content: space-ecenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#testimonials .container .cards .card .text span, #testimonials .container .cards .card .text h4 {
  padding: 0.1rem 0;
}

#testimonials .container .cards .card .text p {
  padding: 0.3rem 0;
}

#testimonials .container .cards .card2 {
  background: -webkit-gradient(linear, left top, right top, from(white), to(#9C69E2));
  background: linear-gradient(to right, white, #9C69E2);
}

#testimonials .container .cycles {
  position: absolute;
  width: auto;
  bottom: 12%;
  left: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#testimonials .container .cycles div:first-child {
  width: 6px;
  height: 6px;
  background: #ED63B8;
}

#testimonials .container .cycles div {
  width: 3px;
  height: 3px;
  background: #FFF;
  margin: 0.2rem;
  border-radius: 50%;
  cursor: pointer;
}

footer .top {
  min-height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .top h2, footer .top p {
  margin-left: 33%;
}

footer .top .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .bottom {
  min-height: 50vh;
  width: 80%;
  margin-left: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .bottom .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .bottom .box {
  min-height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .bottom .box * > {
  padding: 0.5rem 0;
}
/*# sourceMappingURL=style.css.map */