@import './partials/global';
@import './partials/classes';
@import './partials/header';
@import './partials/hero';
@import './partials/about';
@import './partials/features';
@import './partials/testimonials';