#about {
    padding-top: 10%;
    min-height: 50vh;
    width: 100%;
    @include flex(row, center, center);
    .container {
        width: 68%;
        margin-left: 8%;
        min-height: 40vh;
        padding: 1.5% 0;
        display: grid;
        grid-template-areas: "img h3"
                             "img p";
        background: #FBE8F4;
        border-radius: 15px;
        font-size: 1.2vw;
        h3 {
            grid-area: h3;
            padding: 0.5rem;
            width: 90%;
            font-size: 2vw;
            margin-top: 12%;
            margin-left: 5%;
        }
        p {
            grid-area: p;
            padding: 0.5rem;
            width: 80%;
            margin-left: 5%;
        }
        .image2 {
            grid-area: img;
            width: 100%;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
        
    }
}