//VARIABLES
$theme-color1: #9C69E2;
$theme-color2: #ED63B8;

$card-color-1: #F0FAF8;
$card-color-2: #F5F0FC;
$card-color-3: #FCF0F8;
$card-color-4: #EAF5FB;

$text-color: #4B5D68;
$bold-text-color: #212353;

// MIX INS
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin absolute($top, $left, $right, $bottom) {
    position: absolute;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}
@mixin text($size, $color, $weight) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
}
@mixin size($width, $height) {
    width: $width;
    height: $height;
}
@mixin minSize($width, $height) {
    min-width: $width;
    min-height: $height;
}
@mixin maxSize($width, $height) {
    max-width: $width;
    max-height: $height;
}


// Global Layout
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Avenir';
    src: url('/fonts/avenir_ff/AvenirLTStd-Black.otf') format('opentype'),
         url('/fonts/avenir_ff/AvenirLTStd-Book.otf') format('opentype'),
         url('/fonts/avenir_ff/AvenirLTStd-Roman.otf') format('opentype');
  } 
#body {
    display: grid;
    grid-template-areas: "header"
                        "main"
                        "footer";
    color: $text-color;
}
html {
    scroll-behavior: smooth;
    font-family: 'Avenir', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: $bold-text-color;
    font-family: Helvetica, sans-serif;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
    color: $text-color;
}
.active {
    color: $bold-text-color;
    font-weight: bold;
}
