.hero {
    min-height: 50vh;
    width: 100%;
    position: relative;
    @include flex(row, center, center);
    .container {
        @include flex(column, space-evenly, flex-start);
        @include size(60%, 100%);
        min-height: 20rem;
        h1 {
            font-size: 4.5vw;
            width: 70%;
        }
        p {
            width: 44%;
            margin-top: 1.5%;
        }
        .button {
            background: $theme-color1;
            h4 {
                a {
                    color: white;
                }
            }
            margin-top: 1.5%;
        }
    }
    .image1 {
        position: absolute;
        right: 1rem;
        bottom: 9rem;
        @include size(55%, 40%);
        img {
            @include size(100%, auto);
        }
    }
}